# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from google_config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../WeatherPy_vacation.csv")

# Display sample data
vacation_df['Country'] == 'US'
vacation_df = pd.DataFrame(vacation_df)

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [11]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
new_df = clean_hotel_df['Country'] = "US"
new_df = pd.DataFrame(clean_hotel_df)
new_df.tail(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
332,665,Ewa Beach,US,75.20,few clouds,21.32,-158.01,Hampton Inn & Suites Oahu/Kapolei
333,666,Burke,US,82.99,few clouds,38.79,-77.27,Heart of Fairfax Near GMU Upscale Privacy 2 Be...
334,669,Lakatoro,US,77.63,light rain,-16.10,167.42,Lakatoro Palm Lodge
335,671,Lakeside,US,82.99,clear sky,30.13,-81.77,Whitey's Fish Camp
336,672,Hirara,US,84.18,light rain,24.80,125.28,Hotel Atoll Emerald Miyakojima
337,673,Shache,US,80.02,clear sky,38.42,77.24,Delong Hotel
338,674,Moju,US,84.20,few clouds,-1.88,-48.77,HOTEL MARTINS
339,675,Komsomolsk,US,76.42,clear sky,49.01,33.65,Olʹviya
340,678,Villagarzon,US,74.14,overcast clouds,1.04,-76.63,Hotel Samari
341,680,Keti Bandar,US,88.52,overcast clouds,24.14,67.45,Haji laloo memon house
342,684,Ishigaki,US,84.27,moderate rain,24.34,124.16,Hotel Peace Land Ishigakijima
343,685,Kupang,US,77.31,scattered clouds,-10.17,123.58,Sylvia Hotel Premier Kupang
344,687,Suluq,US,84.54,clear sky,31.67,20.25,ورشة الحضيري لاكترونات وخدمات النت
345,691,Berezyne,US,80.55,few clouds,46.23,29.20,Березинское кладбище
346,692,Klyuchi,US,76.15,broken clouds,52.27,79.17,Vesolaya Mayovka
347,695,Kostomuksha,US,79.27,overcast clouds,64.57,30.58,Apartments on Lenina 17
348,700,Sabratah,US,85.15,clear sky,32.79,12.49,مقبرة المجاهديه
349,704,Wuwei,US,75.00,overcast clouds,37.93,102.64,Thank Inn Chain Hotel gansu wuwei liangzhou di...
350,705,Chake Chake,US,78.87,few clouds,-5.25,39.77,Hotel Archipelago
351,706,Januaria,US,79.92,clear sky,-15.48,-44.37,Hotel Paraguassu

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [20]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'Saint George']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Saint George']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Iberia']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Tarpon Springs']
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
159,499,Tarpon Springs,US,83.1,scattered clouds,28.1461,-82.7568,"Innisbrook, A Salamander Golf and Spa Resort"

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [21]:
vacation_start

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
40,153,Saint George,US,79.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [22]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [46]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], 
                                           travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [47]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,153,Saint George,US,79.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
1,132,Laguna,US,83.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,538,Iberia,US,81.05,clear sky,29.9502,-91.7507,back to back rv park
3,499,Tarpon Springs,US,83.10,scattered clouds,28.1461,-82.7568,"Innisbrook, A Salamander Golf and Spa Resort"

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [48]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# Add a marker layer for each city to the map.
new_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], 
                                           travel_mode='DRIVING')

# Define a new figure object
fig_final = gmaps.figure()

# Add the layer to the map
fig_final.add_layer(new_marker_layer)
fig.add_layer(vacation_itinerary)

# Display the map
fig_final

Figure(layout=FigureLayout(height='420px'))